$color01:#81BD41;
$color02: #AC1F2D;
$color03: #FFC9B5;
$color04: #648381;
$color05: #D8AA96;
$color06: #313a39;
$color07: #2B2417;
$color08: #005737;
$color09: #009ADE;
$color10: #DB102D;

$fontSize-01: 20px;
$spacer: 5rem;
$size: 10rem;

@font-face {
    font-family: "TrajanPro";
    src: url(fonts/TrajanPro-Regular.otf) format(opentype);
}

@font-face {
    font-family: "Heavitas";
    src: url(fonts/Heavitas.otf) format(opentype);
    
}

@font-face {
    font-family: "Bebas";
    src: url(fonts/BebasNeue-Regular.woff) format(woff);
}

@font-face {
    font-family: "OkineSans";
    src: url(fonts/MADEOkineSansPERSONALUSE-Regular.otf) format(opentype);
}

@font-face {
    font-family: "AvenirRoman";
    src: url(fonts/AvenirRoman.otf) format(opentype);
}





html {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    font-size: $fontSize-01;
    
}

body {
    margin: 0;
    width: 100%;
}

#menuToggle {
    visibility: hidden;
    display: none; 
    -webkit-appearance: none;
    &:checked~.navBar{
        transform: translateX(0vw);
        }
    &:checked~.navBar {
        #menuIcon{
            display: none;
        }
        #closeIcon{
            color: $color04;
            &:hover {
                color: $color01;
                font-size: 2.1rem;
            }
        }
    }

    &:hover ~ .navBar{
        #menuIcon {
            color: $color01;
            font-size: 2.1rem;
        }
    }

    &:hover ~ .container{
        .sections {
            .wrapperPage{
                .wrapperGrid {
                    display: grid;
                }
            }
        }
    }
    
        
}



#navBar {
    font-size: 1rem;
    height: 100vh;
    width: 20vw;
    background-color: $color02;
    position: absolute;
    z-index: 3;
    transition: 0.5s ease;
    transform: translateX(-20vw);
    font-family: "Heavitas"; 
    
    &:hover + .container{
        .sections {
            .wrapperPage{
                .wrapperGrid {
                    display: grid;
                }
            }
        }
    }

    #closeIcon {
        color: #ffffff00;
        left: 16vw;
    }
    
    span {
        position: absolute;
        color: black;
        font-size: 2rem;
        right: -55px;
        top: 10px;
        color: $color02;
        border-radius: 2px;
        padding: 3px 8px;
        background-color: #ffffff00;
        transition: 0.4s ease;
        cursor: pointer;
    }
    
    ol {
        margin-top: 8vh;
        padding: 0;
        display: block;
        list-style: none;
        width: 100%;
        
        li{
            margin: 0;
            padding: 0;

            a{
                text-transform: uppercase;
                text-decoration: none;
                color: $color03;
                display: block;
                font-size: 1.0rem;
                position: relative;
                overflow: hidden;
                transition: 0.5s ease;
                padding: 15px 10px;
                text-align: start;
                padding-left: 3rem;
            }

            &:hover{
                background-color: $color04;
                letter-spacing: 4px;
            }
        
        }
            
    }
}


section {
    height: 100vh;
    width: 100%;
    display: block;
    scroll-snap-align: center;
    font-size: 20px;


}

.container {
    scroll-snap-type: y mandatory;
    scroll-behavior: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
}


#one {
    background-color: $color01;
    margin: 0;
    font-family: "Heavitas"; 
    display: block;
    height: 100vh;
    width: 100%;
    video {
        position: relative;
        max-width: 100%;
        min-height: 100vh;
        z-index: 0;
        object-fit: cover;
        
    
    }
}

#one {
    div {
        
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 35vw;
        margin-top: -83vh;
        margin-left: 50vw - 17.5vw;
        
        img {
            width: 35vw;
            
        }   

        p {
            
            width: 35vw;
            font-family: "TrajanPro";
            text-align: center;
            font-size: 3em;
            color: #ffffff;
            text-transform: uppercase;
            transition: 0.5s ease;
            
        }
    }

    &:hover {
        div {
            img {
                animation: slideUp 1s ease;
            }
            p {
                animation: slideUp 1.4s ease;
            }
        }
    }
}




#two {
    background-color: $color05;
      
    .wrapperPage {
       
        display: grid;
        row-gap: 0;
        grid-auto-flow: row;
        grid-template-rows: 50vh 50vh;
        justify-items: center;
        
        
        .wrapperCheck {
            display: block;
            

            #bottomImage {
                object-position: 0 30%;
                
            }

            #topImage {
                object-position: 0 58%;
                transform: scaleX(-1);
                
                
            }

            .wrapperImage{
                z-index: 1;

                img {
                    height: 50vh;
                    width: 100vw;
                    object-fit: cover;
                }
                
            }
            
            #wrapperTextTop {
                transform: scaleX(1);
                width: 35vw;
                margin-left: auto;
                margin-right: 5vw;
                
            }

            #wrapperTextBottom {
                margin-left: 5vw;
                width: 38vw;
                
            }

            .wrapperText {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0;
                margin: 0;
                
                margin-top: -30vh;
                z-index: 2;
               

                p {
                    margin-top: 0;
                    margin-bottom: 0;
                    text-align: center;
                }

                .head {
                    font-family: "TrajanPro";
                    
                    font-size: 1.9rem;
                    color: $color02;
                    text-transform: capitalize;
                    
                }
    
                .body {
                    font-family: "AvenirRoman";
                    font-size: 1rem;
                    color: $color06;
                    
                }
            }

            
        }

        
     
    

    &:hover {
        
       
        .wrapperText {
            .head {
                animation: slideUp 1.0s ease;
            }
            .body {
                animation: slideUp 1.3s ease;
            }

        }
        
    }

    
    }
    
}

#three {
    background-color: $color05;
    background-image: url(assets/vector_teaPattern.png);
    .wrapperPage {
        width: 100%;
        height: 100vh;


        .wrapperGrid {
            display: none;
            grid-template-columns: 25vw repeat(4);
            grid-template-rows: 20vh 80vh;
            grid-auto-flow: column;
            justify-items: center;
            align-items: center;

            p {
                grid-column: 1/5;
                font-family: "TrajanPro";
                font-size: 2.5rem;
                color: $color02;
                text-transform: uppercase; 
                text-shadow: 0.1rem 0.1rem 0.1rem   #648381 
                                 
            }
            
            .wrapperProduct {
                display: block;
                width: 25vw;
                height: 80vh;
                text-align: center;
                
                .wrapperLabel {
                    position: relative;
                    display: block;
                    height: 12vh;
                    padding-top: 4vh;

                    p {
                        margin-top: 0;
                        font-family: "TrajanPro";
                        font-size: 2rem;
                        color: #ffffff;
                        backdrop-filter: blur(5px);
                        text-transform: uppercase;
                        text-shadow: 0.1rem 0.1rem 0.1rem   #0a0a0a ;
                        cursor: pointer;
                        transition: 0.3s ease;
                    }
                }

                &:hover {

                    p{
                    font-size: 2.3rem;
                    color: $color02;
                    text-shadow: 0.1rem 0.1rem 0.1rem   #ffffff ;
                    transition: 1s ease;
                    
                    }

                    & > .hoverImage {
                        display: flex;
                    }
                }
                
                .hoverImage {
                    margin-top: 2vh;
                    display: none;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    width: 25vw;
                    height: 60vh;
                    border-bottom-left-radius: 20%;
                    border-bottom-right-radius: 20%;
                    backdrop-filter: blur(5px) grayscale(100%);
                    animation: slideUpImage 1s ease;
                    &:nth-of-type(2n+1){
                        p{
                            color: black;
                        }
                    }
                    

                    img {
                        position: relative;
                        left: 1vw;
                        height: 50vh;
                    }

                    p {
                        width: 20vw;
                        height: 15vh;
                        font-size: .75rem;
                        font-family: "AvenirRoman";
                        text-transform: none;
                        color: white;
                        text-shadow: .05rem 0.05rem .01rem rgba(0, 0, 0, 0.605) !important;
                        text-decoration: none !important;
                        
                    }
                   
                }
            }
            
            
            
            
            #wrapperProduct01 {
                background-image: url(assets/bg_fruitTea.jpg);
                background-position: 70% 0%;
                background-size: cover;
            }

            #wrapperProduct02 {
                background-image: url(assets/bg_blackTea.jpg);
                background-position: 40% 0%;
                background-size: cover;
            }
            
            #wrapperProduct03 {
                background-image: url(assets/bg_herbalTea.jpg);
                background-position: 0% 0%;
                background-size: cover;
            }
            
            #wrapperProduct04 {
                background-image: url(assets/bg_greenTea.jpg);
                background-position: 40% 0%;
                background-size: cover;
            }

            &:hover {
                
                p {
                    animation: slideUp 0.5s ease;
                }
                .wrapperProduct {
                    

                    .wrapperLabel {
                        animation: slideUp 2.2s ease;
                    }
                }

                #wrapperProduct01 {
                    animation: slideUpImage02 1.4s ease ;
                }
                #wrapperProduct02 {
                    animation: slideUpImage02 1.8s ease ;
                }
                #wrapperProduct03 {
                    animation: slideUpImage02 1.2s ease ;
                }
                #wrapperProduct04 {
                    animation: slideUpImage02 1.6s ease ;
                }
                
                
            }
        }

        &:hover {
            .wrapperGrid {
                display: grid;
            }
        }

       

    }
}

#four {
    background-color: $color04;
    background-image: url(assets/vector_teaPattern.png);
    
    .wrapperPage {
        .wrapperGrid {
            .wrapperSlide{
                
                position: relative;
                min-width: 4.5*$size;
                max-height: 8*$size;
                
                .slide{
                    display: grid;
                    position: relative;
                    top: 0.12*$spacer;
                    grid-auto-flow: column;
                    grid-auto-columns: 100vw;
                    height: 4.5*$size;
                    overflow-x: auto;
                    scroll-snap-type: x mandatory;
                    scroll-behavior: smooth;
                    scrollbar-width: none;
                    
                    .contentWrapper{
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        align-content: center;
                        text-align: center;
                        width: 100%;
                        background-color: $color02;
                        scroll-snap-align: start;

                        .title{
                            font-family: "TrajanPro";
                            font-size: 2.5rem;
                            color: $color02;
                            margin-top: 1.5*$spacer;
                            margin-bottom:0;
                        }

                        .content {
                            position: relative;
                            padding: 0.2*$spacer 28vw;
                            margin-left: auto;
                            margin-right: auto;
                            margin-top: 0;
                            font-family: AvenirRoman;
                            font-size: 0.9rem;
                            color: $color07;

                        
                        }

                        &:nth-of-type(1){
                            background-image: url(assets/teaImage06.jpg);
                            background-size: cover;
                            .titleTop {
                                margin-top: 1.8*$spacer;
                                font-weight: bolder;
                                font-size: 2.8rem;
                            }
                            
                            .titleBottom {
                                margin-top: 0.5*$spacer;
                            }
                            
                        }
                        &:nth-of-type(2){
                            background-image: url(assets/teaImage05.jpg);
                            background-size: cover;
                            .titleTop {
                                margin-top: 1.8*$spacer;
                            }
                            .title{
                                
                                backdrop-filter: blur(15px);
                                color: $color02;
                                background: #ffc9b5b4;
                            }
                            .content {
                                background-color: #ffffffa1;
                                backdrop-filter: blur(15px) sepia(90%);
                                color: $color07;
                            }
                            .contentTop {
                                color: $color07;
                            }
                        }
                        &:nth-of-type(3){
                            background-image: url(assets/teaImage03.jpg);
                            background-size: cover;
                            .titleTop {
                                margin-top: 1.8*$spacer;
                            }
                            .title{
                                
                                backdrop-filter: blur(10px);
                                color: $color02;
                                background: #ffc9b5b4;
                            }
                            .content {
                                background-color: #ffffffa1;
                                backdrop-filter: blur(10px) sepia(100%);
                                color: $color07;
                            }
                            .contentTop {
                                color: $color07;
                            }
                            
                        }
                        &:nth-of-type(4){
                            background-image: url(assets/teaImage07.jpg);
                            background-size: cover;
                            .titleTop {
                                margin-top: 1.8*$spacer;
                            }
                            .title{
                                
                                backdrop-filter: blur(10px);
                                color: $color02;
                                background: #ffc9b5b4;
                            }
                            .content {
                                background-color: #ffffffa1;
                                backdrop-filter: blur(10px) sepia(100%);
                                color: $color07;
                            }
                            .contentTop {
                                color: $color07;
                            }
                        }
                        &:nth-of-type(5){
                            background-image: url(assets/teaImage01.jpg);
                            background-size: cover;
                            .titleTop {
                                margin-top: 1.7*$spacer;
                            }
                            .title{
                                
                                backdrop-filter: blur(10px);
                                color: $color02;
                                background: #ffc9b5b4;
                            }
                            .content {
                                background-color: #ffffffa1;
                                backdrop-filter: blur(10px) sepia(100%);
                                color: $color07;
                            }
                            .contentTop {
                                color: $color07;
                            }
                        }



                    
                    }
                }

                .navSlide {
                    display: flex;
                    column-gap: 1rem;
                    position: absolute;
                    bottom: 0.1*$spacer;
                    left: 50%;
                    transform: translateX(-50%);

                    a{
                        width: 2rem;
                        height: 0.5rem;
                        background-color: $color02;
                        opacity: 0.3;
                        transition: 0.4s ease;
                        &:hover {
                            opacity: 1;
                        }
                        

                    }
                    


                }
            }
        }
    }
    
    
    
    
}

#five {
    background-color: $color05;
    background-image: url(assets/vector_teaPattern.png);
    width: 100vw;
    height: 100vh;
    
    
    .wrapperPage {
        width: 100%;
        height: 100%;
       
        .header {
            padding-top: 0.5*$spacer;
            width: 100vw;
            text-align: center;
            font-family: "TrajanPro";
            font-size: 2.5rem;
            color: $color08;
            text-transform: uppercase; 
            text-shadow: 0.1rem 0.1rem 0.1rem   #c6c6c6;
            &:nth-of-type(1) {
                color: $color07;
                text-shadow: 0.1rem 0.1rem 0.1rem   #c6c6c6;
            }
        }
        
        
        .wrapperGrid {
            margin-top: 0.25*$spacer;
            padding-left: 1*$spacer;
            padding-right: 1*$spacer;
            height: 1.5*$size;
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 1.2*$size;
            
            gap: 0.5*$spacer;
            overflow-x: auto;
            overscroll-behavior-inline: contain;
            scrollbar-width: thin;
            scrollbar-color: $color08 $color03;
            &::-webkit-scrollbar {
                height: 0.9rem
            }
            &::-webkit-scrollbar-track {
                
                background: $color03;
                border-radius: 100vh;
            }
            &::-webkit-scrollbar-thumb {
                
                background: $color08;
                border: 0.2rem solid $color03;
                border-radius: 100vh;

                &:hover{
                background: $color02;
                }
            }
            
            

            &:nth-of-type(2) {
                scrollbar-color: $color07 $color03;
                &::-webkit-scrollbar-thumb {
                
                    background: $color07;
                    &:hover{
                        background: $color02;
                        }
                }

                .slide{
                    background-color: $color07;
                }

                
                
                
            }

            .slide{
                justify-items: center;
                align-items: center;
                height: 1.1*$size;
                cursor: pointer;
                background-color: $color08;
                background-image: url(assets/vector_teaPattern.png);
                transition: 0.4s ease;

                &:nth-of-type(1n + 5){
                    
                    .wrapperHover{
                        display: none;
                        flex-direction: row-reverse;
                        width: 5*$size;
                        left: -38rem;
                        .imgHover {
                            border-top-right-radius: 1rem;
                            border-bottom-right-radius: 1rem;
                            border-top-left-radius: 0rem;
                            border-bottom-left-radius: 0rem;
                        }
                        .textWrapper{
                            border-bottom-left-radius:3rem 3rem ;
                            border-bottom-right-radius:0rem 0rem ;
                        }
                    }
                    
                }
                

                .titleProduct {
                    font-family: "AvenirRoman";
                    font-size: .85rem;
                    color: #ffffff;
                    text-shadow: 0.1rem 0.1rem 0.1rem   #9e9d9d;
                    text-transform: capitalize;
                    text-align: center;
                    
                }

                .imgDisplay {
                    position: relative;
                    justify-items: center;
                    height: 1.1*$size;
                    inline-size: 100%;
                    object-fit: cover;                
                    justify-content: center;
                }

                .wrapperHover {
                    display: none;
                    flex-direction: row;
                    position: relative;
                    width: 5*$size;
                    left: 0rem;
                    top: -11rem;
                    z-index: 2;

                    .imgHover {
                        height: 1.1*$size;
                        width: 1.1*$size;
                        border-top-left-radius: 1rem;
                        border-bottom-left-radius: 1rem;
                        
                    }
                    .textWrapper {
                        background-color: $color04;
                        background-image: url(assets/vector_teaPattern.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        width: 2.5*$size;
                        max-height: 1.1*$size;
                        padding: 1rem;
                        border-bottom-right-radius:3rem 3rem ;
                        

                        p {
                            width: 100%;
                            margin-top: 0;
                            margin-bottom: 0;
                            text-align: center;
                            color: #ffffff;
                            font-family: "AvenirRoman";
                            text-align: justify;
                            
                        }
                        .textHovera{
                            font-size: 0.75rem;
                            
                        }

                        .textHoverb{
                            font-size: .65rem;
                            font-weight: bolder;
                            color: $color06;
                            padding-top: .5rem ;
                            padding-bottom: .5rem;
                        }

                        .textHoverc{
                            text-align: center;
                            font-size: 1rem;
                            font-weight: bolder;
                            color: $color02;
                            text-shadow: 0.00rem 0.05rem 0.5rem   #efeaea9d;
                            padding-bottom: .2rem;
                        }

                        .shopSign {
                            display: none;
                            visibility: hidden

                        }
                        .shopWrapper {
                            position: relative;
                            margin-left: auto;
                            margin-right: auto;
                            height: 2rem;
                            width: 2rem;
                            background-color: #ffffff;
                            border-radius: 50% 50%;
                            transition: 0.4s ease;                            
                            cursor: pointer;
                            .shopLabel{
                                a{
                                    i{
                                        position: absolute;
                                        margin-left: .4rem;
                                        margin-top: .45rem;
                                        color: $color02;
                                        transition: 0.4s ease
                                    }
                                }
                                }
                            &:hover {
                                background-color: $color02;
                                .shopLabel {
                                    a{
                                        i{
                                            color: #ffffff;
                                        }
                                    }
                                }
                            }
                            

                        }

                    }

                    
                }

                &:hover {
                    background-color: $color02;
                    .titleProduct {
                        color: white;
                    }
                    .wrapperHover {
                        display: flex;
                        animation: slideLeft 1s ease;
                    }

                }




            
            }
        }

          

    }
}

#six {
    background-color: $color04;
    background-image: url(assets/vector_teaPattern.png);
    .wrapperPage {
        .wrapperGrid {
            .wrapperSlide{
                
                position: relative;
                min-width: 4.5*$size;
                max-height: 8*$size;
                
                .slide{
                    display: grid;
                    position: relative;
                    top: 0.12*$spacer;
                    grid-auto-flow: column;
                    grid-auto-columns: 100vw;
                    height: 4.5*$size;
                    overflow-x: auto;
                    scroll-snap-type: x mandatory;
                    scroll-behavior: smooth;
                    scrollbar-width: none;
                    
                    .contentWrapper{
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        align-content: center;
                        text-align: center;
                        width: 100%;
                        background-color: $color02;
                        scroll-snap-align: start;

                        .title{
                            font-family: "TrajanPro";
                            font-size: 2.8rem;
                            color: $color10;
                            margin-top: 1.9*$spacer;
                            margin-bottom:0;
                            text-decoration: underline double 0.11rem;
                            text-shadow: 0 0 5px rgba(255, 255, 255, 0.301);
                        }

                        .content {
                            position: relative;
                            padding: 0.2*$spacer 28vw;
                            margin-left: auto;
                            margin-right: auto;
                            margin-top: 0;
                            font-family: AvenirRoman;
                            font-size: 0.9rem;
                            color: white;
                            text-shadow: 0 0 5px black;

                        
                        }

                        &:nth-of-type(1){
                            background-image: url(assets/ourCompany01.jpg);
                            background-size: cover;
                            
                            
                        }
                        &:nth-of-type(2){
                            background-image: url(assets/ourCompany02.png);
                            background-size: cover;
                            
                        }
                        &:nth-of-type(3){
                            background-image: url(assets/ourCompany03.jpg);
                            background-size: cover;

                            .title{
                                margin-top: 2*$spacer;
                                backdrop-filter: sepia(100%) blur(3px);
                            }
                            .content{
                                color: black;
                                text-shadow: 0 0 5px white;
                                backdrop-filter: sepia(100%) blur(3px);
                            }
                        }

                        &:nth-of-type(4){
                            background-image: url(assets/ourCompany04.jpg);
                            background-size: cover;
                            background-position: 0 30%;
                            .title{
                                margin-top: 4*$spacer;
                                backdrop-filter: sepia(100%) blur(3px);
                            }
                            .content{
                                color: black;
                                text-shadow: 0 0 5px white;
                                backdrop-filter: sepia(100%) blur(3px);
                            }
                            
                        }
                        &:nth-of-type(5){
                            background-image: url(assets/ourCompany05.jpg);
                            background-size: cover;
                            .titleTop {
                                margin-top: 1*$spacer;
                                backdrop-filter: sepia(70%) blur(2px);
                                text-decoration-style: solid;
                            }
                            .content{
                                color: black;
                                text-shadow: 0 0 5px white;
                                backdrop-filter: sepia(70%) blur(2px);
                                
                            }
                            .logos{
                                height: 1*$size;
                            }
                            
                        }



                    
                    }
                }

                .navSlide {
                    display: flex;
                    column-gap: 1rem;
                    position: absolute;
                    bottom: 0.1*$spacer;
                    left: 50%;
                    transform: translateX(-50%);

                    a{
                        width: 2rem;
                        height: 0.5rem;
                        background-color: white;
                        opacity: 0.3;
                        transition: 0.4s ease;
                        &:hover {
                            opacity: 1;
                        }
                        

                    }
                    


                }
            }
        }
    }

}

#seven {
    background-color: $color01;
    .wrapperPage{
        height: 100vh;
        width: 100vw;
        .wrapperGrid{
            height: 100vh;
            width: 100vw;
            display: grid;
            grid-template-columns: 25vw 25vw 25vw 25vw;
            grid-template-rows: 50vh 50vh;
            
            .wrapperContent {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                background-image: url(assets/vector_teaPattern.png);
                grid-column: span 2;
                margin-top: 0;
                .header{
                    font-family: TrajanPro;
                    color: $color02;
                    font-size: 2.5rem;
                    text-shadow: 0.1rem 0.1rem 0.1rem   #e3e3e3;
                    font-weight: bolder;
                    margin: 0.5rem 0;
                }
                .title{
                    font-family: AvenirRoman;
                    font-size: 1.3rem;
                    color: $color07;
                    font-weight: bolder;
                    margin-top: 0.1*$spacer;
                }
                .content{
                    font-family: AvenirRoman;
                    font-size: 1rem;
                    color: $color07;
                    
                }
                .containerHover {
                    display: flex;
                    flex-direction: row;
                    transition: 0.4s ease;
                    .wrapperHover{
                        display: block;
                        text-align: center;
                        color: $color07;
                        font-family: "AvenirRoman";
                        font-size: 0.9rem;
                        font-weight: bolder;

                        width: 2*$spacer;
                        height: 2*$spacer;
                        border-radius: 50%;
                        margin: 0 0.3*$spacer;
                        transition: 0.5s ease;
                        cursor: pointer;
                        &:hover{
                            p{
                                display: block;
                                animation: slideUp 0.5s ease;
                            }
                            a{
                                display: block;
                            }
                            border-radius: 0;
                            width: 3*$spacer;
                            height: 3*$spacer;
                            
                        }
                        p{
                            display: none;
                            animation: slideUp 0.5s ease;
                            transition: 0.4s ease;
                        }
                        a{
                            display: none;
                            position: relative;
                            margin-right: auto;
                            margin-left: auto;
                            margin-top: 8.5rem;
                            width: 2rem;
                            height: 2rem;
                            background-color: #e3e3e3;
                            border-radius: 50%;
                            transition: 0.4s ease;
                            text-shadow: none;
                            i{
                                position: absolute;
                                color: $color02;
                                font-size: .8rem;
                                right: .6rem;
                                top: .57rem;
                                transition: 0.4s ease;

                    
                            }
                            &:hover {
                                background-color: $color02;
                                i {
                                    color: #e3e3e3;
                                }
                            }
                        }
                    }
                    #wrapperHoverBox {
                        background-image: url(assets/productSet02b.jpg);
                        background-size: cover;
                    }
    
                    #wrapperHoverBox2 {
                        background-image: url(assets/productSet01b.jpg);
                        background-size: cover;
                        flex: none;
                        flex-wrap: wrap;
                        
                    }
    
                    #wrapperHoverLoose {
                        background-image: url(assets/looseleaforiental.jpg);
                        background-size: cover;
                        color: #e3e3e3;
                        text-shadow: 0.1rem 0.1rem 0.1rem $color07;
                    }
    
                    #wrapperHoverLoose2 {
                        background-image: url(assets/looseleafchunmee.jpg);
                        background-size: cover;
                        color: #e3e3e3;
                        text-shadow: 0.1rem 0.1rem 0.1rem $color07;
                    }
    
                    #wrapperHoverLoose3 {
                        background-image: url(assets/looseleafgunpowder.jpg);
                        background-size: cover;
                        color: #e3e3e3;
                        text-shadow: 0.1rem 0.1rem 0.1rem $color07;
                    }
                
                }


                &:nth-of-type(1){
                    background-color: $color09;
                    justify-content: end;
                    .header{
                        margin: .5rem 0;                        
                    }
                    
                }

            }

            .wrapperImg {
                height: 50vh;
                filter: hue-rotate(90deg) blur(1px) sepia(70%);
                .imgGrid {
                    min-width: 25vw;
                    min-height: 50vh;
                    max-width: 25vw;
                    max-height: 50vh;
                    object-fit: cover;

                }
            }
            
        }
    }
}


#eight {
    background-color: $color02;
    background-image: url(assets/vector_teaPattern.png);
    .wrapperPage{
        .footerImage {
            
            background-image: url(assets/teaImage04.jpg);
            background-size: fill;
            background-repeat: no-repeat;
            background-position: 20% 20%;
            filter: brightness(80%);
            position: relative;
            top: 0%;
            left: -2px;
            width: 100vw;
            height: 70vh;
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 50%);
            z-index: 2;
        }
        .wrapperGrid{
            display: grid;
            position: relative;
            top: -70vh;
            grid-template-columns: 30vw 40vw 30vw;
            grid-template-rows: 100vh;
            

            .footer{
                background-image: url(assets/vector_teaPattern.png);
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: center;
                text-align: justify;
                p {
                    color: #c6c6c6;
                }
                .emailTitle {
                    
                    margin-bottom: 0.1*$spacer;
                    color:rgb(171, 174, 54);
                }
                .emailContent {
                    font-size: 1rem;
                    width: 30vw;
                    color: #c6c6c6;
                    
                    font-weight: normal;
                }
                .formWrapper{
                    position: relative;
                    margin-bottom: 1.4*$spacer;
                    
                   
                    .form {
                        input {
                            font-family: avenirroman;
                            font-size: 1rem;
                            position: relative;
                            display: inline-block;
                            height: 2rem;
                            &:hover {
                                .submit{
                                    border: 3px solid  rgb(171, 174, 54);
                                    background-color:  rgb(174, 174, 54);
                                }
                                .email {
                                    border: 3px solid  rgb(171, 174, 54);
                                }
                            }
                        }
                       
                        .email {
                            background: rgb(208, 208, 208);
                            width: 2.0*$size;
                            margin-right: 0;
                            border: 3px solid $color02;
                            border-bottom-left-radius: 1rem;
                            border-top-left-radius: 1rem;
                            
                            transition: 0.4s ease;
                            &:hover {
                                border: 3px solid rgb(171, 174, 54);
                                & ~ .submit{
                                    border: 3px solid  rgb(171, 174, 54);
                                    background-color:  rgb(174, 174, 54);
                                }
                            }
                            &:focus{
                                outline: none;
                                border: 3px solid $color01;
                                & ~ .submit{
                                    border: 3px solid $color01;
                                    background-color: $color01;
                                    &:hover {
                                        color: $color02;
                                    }
                                }
                            }
                        }
                        .submit {
                            background: $color02;
                            border-left: none;
                            margin-left: 0;
                            position: absolute;
                            border: 3px solid $color02;
                            border-bottom-right-radius: 1rem;
                            border-top-right-radius: 1rem;
                            padding-right: 0.8rem;
                            padding-left: 0.4rem;
                            letter-spacing: 1px;
                            text-shadow: 0.1rem 0.1rem 0.1rem   #0000008c;
                            color: white;
                            transition: 0.4s ease;
                            cursor: pointer;
                            
                            
                        }
                    }
                }
                .quickLinks {
                    width: 20vw;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 1.2*$spacer;
                    

                    }

                    p{
                        font-family: avenirroman;
                        color: $color02;
                        font-size: 1.5rem;
                        font-weight: bolder;
                    }
                    ol{
                        list-style: none;
                        li{
                            font-family: AvenirRoman;
                            color: $color02;
                            font-size: 1rem;
                            padding: 0.2rem;
                            color: rgb(57, 57, 57);
                            
                            a{
                                text-decoration: none;
                                color: rgb(57, 57, 57);
                                margin-left: -1rem;
                                transition: 0.4s ease;
                                &:hover{
                                    color: $color02;
                                }
                                

                            }

                        }
                    }
                   
                
                 .contactus {
                    width: 20vw;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 1.3*$spacer;
                    p{
                        font-family: avenirroman;
                        color: $color02;
                        font-size: 1.5rem;
                        font-weight: bolder;
                    }
                    a{
                        text-decoration: none;
                        font-size: 1.7rem;
                        padding: 0.4rem;
                        color: rgb(57, 57, 57);
                        transition: 0.4s ease;
                        

                        &:hover{
                            color: $color02;
                        }
                        

                    }

                        
                    

                 }
                
                &:nth-of-type(1){
                    background-color: $color04;
                    
                }
                &:nth-of-type(2){
                    background-color: $color08;
                }
                &:nth-of-type(3){
                    background-color: $color04;
                }
            }
        }
    }

}



@keyframes slideUp {
    0%{
        transform: translateY(50vh);
        opacity: 0;
    }
    
    100% {
        opacity: 0
    }

   
    100% {
        transform: translateY(0);
        opacity: 1;
        
    }

}

@keyframes slideUpImage {
    0%{
        transform: translateY(50vh);
        opacity: 100%;
    }
    
    50% {
        opacity: 100%
    }

   
    100% {
        transform: translateY(0);
        opacity: 1;
        
    }

}

@keyframes slideUpImage02 {
    0%{
        transform: translateY(200vh);
        opacity: 0;
    }
    
    50% {
        opacity: 1;
    }

   
    100% {
        transform: translateY(0);
        opacity: 1;
        
    }

}

@keyframes slideLeft {
    0%{
        transform: translateX(-200vh);
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    0%{
        transform: translateX(-200vh);
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


@media screen and (max-width: 1366px ){
    body{
        #navBar{
            ol{
                li{
                    a{
                        padding-left: 1.5rem;
                        font-size: 0.8rem;
                        
                    }
                    
                }
            }
        }
        
        .container{
            #three{
                .wrapperPage{
                    .wrapperGrid{
                        .wrapperProduct{
                            .wrapperLabel{
                                p{
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }
            }
            #five{
                .wrapperPage {
                    .header {
                        font-size: 2rem;

                    }
                }
            }
            #seven {
                .wrapperPage{
                    .wrapperGrid{
                        .wrapperContent{
                            .containerHover {
                                display: none
                            }
                        }
                    }
                }
            }
        }
        
    }
}

@media screen and (max-width: 1080px ){
    body{
        #navBar{
            width: 216px;
            transform: translateX(-216px);
            #closeIcon{
                left: 172.244px;
            }
            ol{
                li{
                    a{
                        padding-left: 1.2rem;
                        font-size: 0.7rem;
                        
                    }
                    
                }
            }
        }
        .container{
            #one{
                div{
                    p{
                        font-size: 2em;
                    }
                }
            }
            #three{
                .wrapperPage{
                    .wrapperGrid{
                        .wrapperProduct{
                            .wrapperLabel{
                                p{
                                    font-size: 1.2rem;
                                }
                            }
                            .hoverImage{
                                img {
                                    height: 35vh;
                                }
                            }
                        }
                    }
                }
            }
            #five{
                .wrapperPage {
                    .header {
                        font-size: 1.5rem;

                    }
                }
            }
            #seven {
                .wrapperPage{
                    .wrapperGrid{
                        .wrapperContent{
                            .header{
                                font-size: 1.8rem;
                            }
                            .containerHover {
                                display: none
                            }
                        }
                    }
                }
            }
            
        }
        
    }
}
