
.ListBox {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior-y: contain;
}

.AccountItem {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: hidden;
    padding: 0;
    display: grid;
    overflow: hidden;
    grid-template-areas: 
    "a1 a2 a3"
    "b1 b2 b3";
    grid-template-rows: 30px 30px;
    grid-template-columns: 300px 250px 200px;
    margin-bottom: 10px;
    cursor: pointer;
}

.AccountItem:hover {
    background-color: var(--iosBlue);
}

.AccountItem :first-child{
    position: relative;
    left: 10px;
    grid-area: a1;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.AccountItem :nth-child(2) {
    grid-area: b1;
    font-size: 15px;
    position: relative;
    left: 10px;
}

.AccountItem :nth-child(3) {
    grid-area: a2;
    font-size: 13px;
}

.AccountItem :nth-child(4) {
    grid-area: b2;
    font-size: 13px;
}

.AccountItem :nth-child(5) {
    grid-area: a3;
    font-size: 20px;
}


/*selected account item*/
.SelectedItem {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: hidden;
    padding: 0;
    display: grid;
    overflow: hidden;
    grid-template-areas: 
    "a1 a2 a3"
    "b1 b2 b3";
    grid-template-rows: 30px 30px;
    grid-template-columns: 300px 250px 200px;
    margin-bottom: 10px;
    cursor: pointer;
    color: white;
    background-color: var(--darkBlue);
    overflow-x: hidden;
}

.SelectedItem:hover {
    background-color: var(--iosBlue);
}

.SelectedItem :first-child{
    position: relative;
    left: 10px;
    grid-area: a1;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.SelectedItem :nth-child(2) {
    grid-area: b1;
    font-size: 15px;
    position: relative;
    left: 10px;
}

.SelectedItem :nth-child(3) {
    grid-area: a2;
    font-size: 13px;
}

.SelectedItem :nth-child(4) {
    grid-area: b2;
    font-size: 13px;
}

.SelectedItem :nth-child(5) {
    grid-area: a3;
    font-size: 20px;
}