.AccountEdit {
    margin: 20px;
    min-height: 100px;

}

.AccountEditForm {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 150px;
    display: grid;
    grid-template-areas: 
    "a1 a2 a3"
    "b1 b2 b3"
    ;
    grid-template-rows: 70px 70px;
    grid-template-columns: 200px 200px 200px;
    gap: 10px;
    justify-content: center;
    align-content: center;
} 



.AccountEditForm :first-child{
    grid-area: a1;
}

.AccountEditForm :nth-child(2){
    grid-area: a1;
}

.AccountEditForm :nth-child(3){
    grid-area: a2;
}
.AccountEditForm :nth-child(4){
    grid-area: a2;
}

.AccountEditForm :nth-child(5){
    grid-area: a3;
}
.AccountEditForm :nth-child(6){
    grid-area: a3;
}

.AccountEditForm :nth-child(7){
    grid-area: b1;
}
.AccountEditForm :nth-child(8){
    grid-area: b1;
}

.AccountEditForm :nth-child(9){
    grid-area: b2;
}
.AccountEditForm :nth-child(10){
    grid-area: b2;
}

.AccountEditForm :nth-child(11){
    grid-area: b3;
}
.AccountEditForm :nth-child(12){
    grid-area: b3;
}

.AccountEditForm :nth-child(11):hover{
    background-color: var(--iosBlue);
}

.AccountEditForm > button {
    font-size: 13px;
    font-weight: 700;
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    background-color: var(--darkRed);
    box-shadow: 2px 4px 4px 2px var(--darkBlue);
    cursor: pointer;
    align-self: flex-start
}

.AccountEditForm button :hover {
    background-color: var(--iosBlue);
}
